body {
  background: #fff url("../img/previews/pink-index-mobile.jpg") no-repeat 50% 0;
  min-height: 750px;
}

@media #{$tablet-widths} {
  body {
    background: #fff url("../img/previews/pink-index-tablet.jpg") no-repeat 50% 0;
  }
}

@media #{$desktop-widths} {
  body {
    background: #fff url("../img/previews/pink-index-desktop.jpg") no-repeat 50% 0;
  }
}

body > *,
body > * > *,
body > * > * > *,
body > * > * > * > *,
body > * > * > * > * > * {
  position: relative;
}

body > *::before,
body > * > *::before,
body > * > * > *::before,
body > * > * > * > *::before,
body > * > * > * > * > *::before {
  content: "." attr(class);
  position: absolute;
  top: 2px;
  left: 2px;
  height: 24px;
  padding: 2px 5px;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  font-family: "Courier New", monotype;
  white-space: nowrap;
}

body > * {
  background: rgba(128, 255, 128, 0.25);
  background-clip: content-box;
  outline: 3px solid green;
  outline-offset: -3px;
}

body > *::before {
  color: white;
  background: green;
}

body > * > * {
  background: rgba(255, 45, 82, 0.2);
  background-clip: content-box;
  outline: 3px solid rgba(255, 45, 82, 0.9);
  outline-offset: -3px;
}

body > * > *::before {
  color: white;
  background: #ff2d52;
}

body > * > * > * {
  background: rgba(173, 216, 230, 0.2);
  background-clip: content-box;
  outline: 3px solid rgba(173, 216, 230, 0.9);
  outline-offset: -3px;
}

body > * > * > *::before {
  color: black;
  background: lightblue;
}

body > * > * > * > * {
  background: rgba(234, 255, 45, 0.2);
  background-clip: content-box;
  outline: 3px solid rgba(234, 255, 45, 0.9);
  outline-offset: -3px;
}

body > * > * > * > *::before {
  color: black;
  background: #eaff2d;
}

body > * > * > * > * > * {
  outline: 3px solid violet;
  outline-offset: -3px;
}

body > * > * > * > * > *::before {
  color: black;
  background: violet;
}

.block-mock {
  outline: none;
  background: transparent;
  height: 100px;
  background-color: rgba(255, 255, 255, 0.25);
  background-image: linear-gradient(135deg, rgba(0, 0, 0, 0.25) 25%, transparent 25%),
  linear-gradient(225deg, rgba(0, 0, 0, 0.25) 25%, transparent 25%),
  linear-gradient(45deg, rgba(0, 0, 0, 0.25) 25%, transparent 25%),
  linear-gradient(315deg, rgba(0, 0, 0, 0.25) 25%, transparent 25%);
  background-position: 25px 0,
  25px 0,
  0 0,
  0 0;
  background-size: 50px 50px;
  background-repeat: repeat;
}

.block-mock::before {
  display: none;
}

.main-nav__wrapper::before {
  left: auto;
  right: 3px;
}
