$brand-color: #d22856;
$main-dark-color: #283645;
$confirm-color: #2aab6d;

$secondary-bg-color: #f2f2f2;

$base-font-family: "Open Sans", Helvetica, sans-serif;
$base-line-height: 1.71428571; // 24px/14px
