.contest {
  padding: 50px 0;

  outline: 1px solid red;
}

.contest__subtitle {
  line-height: 2.14285714;
}

.contest__form-legend {
  color: $brand-color;
  font-size: 14px;
  line-height: 1.28571429;
  text-transform: uppercase;
}

.contest__form-label {
  color: $brand-color;
  font-size: 14px;
  line-height: 2.14285714;
  text-transform: uppercase;
}

.contest__fullname {
  margin-bottom: 42px;
}

.contest__travel-achievements {
  background-color: $secondary-bg-color;
  margin-bottom: 40px;
  padding-top: 40px;
}

.contest__contacts {
  margin-bottom: 42px;
}

.contest__app-platform {
  background-color: $secondary-bg-color;
  margin-bottom: 40px;
  padding-top: 40px;
}

.contest__required-note {
  text-transform: uppercase;

  sup {
    color: $brand-color;
  }
}
