.contacts__title {
  font-size: 24px;
  font-weight: 300;
  line-height: 1.2;
}

.contacts__item-label {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.2;

  b {
    font-weight: inherit;
  }
}

.contacts__item-value {
  color: $brand-color;
  font-size: 24px;
  font-weight: 300;
  line-height: 1.2;

  &--link {
    text-decoration: none;
  }
}

.contacts__map {
  background: $secondary-bg-color url("../img/bg-map-mobile@1x.png") center center no-repeat;
  background-size: cover;
  min-height: 421px;
}
