.contest {
  padding: 45px 0 21px;
}

.contest__container {
  @include container();

  .contest__fullname & {
    border: 0;
  }
}

.contest__subtitle {
  line-height: 2.14285714;
  margin: 0;
  text-align: center;
}

.contest__form {
  display: flex;
  flex-direction: column;
}

.contest__form-legend {
  color: $brand-color;
  font-size: 14px;
  line-height: 1.28571429;
  text-align: center;
  text-transform: uppercase;

  .contest__emotions & {
    margin-bottom: 16px;
  }
}

.contest__form-group {
  display: flex;
  flex-direction: column;

  &:not(:last-child) {
    margin-bottom: 17px;
  }
}

.contest__form-label {
  color: $brand-color;
  display: block;
  font-size: 14px;
  line-height: 2.14285714;
  margin-bottom: 5px;
  padding-left: 20px;
  text-transform: uppercase;
}

.contest__fullname {
  margin-bottom: 42px;
  padding-top: 34px;
}

.contest__travel-achievements {
  background-color: $secondary-bg-color;
  padding-top: 40px;
}

.contest__checkboxes-list {
  list-style: none;
  margin: 0;
  padding: 41px 0 47px;
}

.contest__checkboxes-item:not(:last-child) {
  margin-bottom: 52px;
}

.contest__contacts {
  padding-bottom: 42px;
  padding-top: 32px;
}

.contest__app-platform {
  background-color: $secondary-bg-color;
  padding-bottom: 47px;
  padding-top: 40px;
}

.contest__app-platform .contest__container {
  margin: 0 auto;
  padding: 0 20px;
  width: 280px;
}

.contest__radios-list {
  list-style: none;
  margin: 0;
  margin-left: -20px;
  padding: 37px 0 0;
}

.contest__radios-item:not(:last-child) {
  margin-bottom: 45px;
}

.contest__emotions {
  padding-bottom: 41px;
  padding-top: 38px;
}

.contest__emotions .contest__form-label {
  display: block;
}

.contest__form-footer {
  width: 100%;
}

.contest__required-note {
  margin: 0;
  margin-top: 38px;
  text-align: center;
  text-transform: uppercase;

  sup {
    color: $brand-color;
    display: inline-block;
    vertical-align: sub;
  }
}

@media #{$max-tablet-widths} {
  .contest__subtitle-extra {
    display: none;
  }

  .contest__container {
    border: 0;
  }

}

@media #{$min-tablet-widths} {
  .contest__subtitle {
    font-size: 18px;
    line-height: 1.66666667;
    margin: 0 auto;
    max-width: 500px;
  }

  .contest__form-legend br {
    display: none;
  }

  .contest__fullname {
    order: 1;
  }

  .contest__fullname .contest__form-group {
    flex-direction: row;
  }

  .contest__travel-achievements {
    background-color: #fff;
    order: 4;
  }

  .contest__checkboxes-list {
    margin-left: 60px;
  }

  .contest__contacts {
    order: 3;
  }

  .contest__contacts .contest__form-label {
    order: 2;
  }

  .contest__contacts .contest__form-input {
    order: 1;
  }

  .contest__app-platform {
    background-color: #fff;
    order: 2;
  }

  .contest__emotions {
    order: 5;
  }

  .contest__form-footer {
    order: 7;
    padding-top: 67px;
  }

  .contest__form-footer .contest__container {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  .contest__required-note {
    margin-top: 0;
  }
}

@media #{$max-desktop-widths} {
  .contest__required-note-extra {
    @include visually-hidden();
  }
}

@media #{$min-desktop-widths} {
  .contest__subtitle {
    max-width: 760px;
  }

  .contest__form {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .contest__fullname {
    width: 50%;
  }

  .contest__travel-achievements {
    width: 100%;
  }

  .contest__contacts {
    width: 100%;
  }

  .contest__contacts  .contest__form-group {
    width: 45.6%;
  }

  .contest__checkboxes-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 1px;
    justify-content: space-between;
    margin: 0;
    min-height: 60px;
  }

  .contest__app-platform {
    width: 50%;
  }

  .contest__emotions {
    width: 100%;
  }
}
