.downloading {
  background-color: #1d2631;
  min-height: 271px;
  padding: 28px 0;

  outline: 1px solid orangered;
}

.downloading__btn {
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
  text-decoration: none;
}
