.features__container {
  @include container();
}

.features__header {
  font-size: 24px;
  font-weight: 300;
  line-height: 1.2;
  padding: 41px 0 31px;
  position: relative;

  &::after {
    background: url("../img/bg-triangle-white.svg") 0 100% no-repeat;
    background-size: cover;
    content: "";
    left: 0;
    position: absolute;
    height: 31px;
    top: 100%;
    width: 100%;
  }
}

.features__subtitle {
  font-size: 24px;
  font-weight: 300;
  line-height: 1.2;
  margin: 0 auto;
  max-width: 205px;
  text-align: center;

  & + & {
    margin-top: 31px;
  }
}

.features__body {
  background-color: $secondary-bg-color;
  padding-top: 31px;
}

.features__items {
  overflow: hidden;
  padding-top: 55px;
}

.features__item {
  margin-bottom: 34px;

  &:last-child {
    /* to fit text like in design */
    margin: 0 -1px 0;
  }
}

.features__list {
  list-style: none;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  text-align: center;
}

.features__item-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
  margin: 0 0 15px;
}

.features__item-title strong {
  font-weight: inherit;
}

.features__item-description {
  margin: 0;
}

.features__device-preview {
  height: 277px;
  margin: 0 auto;
  width: 157px;
}

@media #{$max-tablet-widths} {
  .features__research {
    @include visually-hidden();
  }
}

@media #{$min-tablet-widths} {
  .features__container {
    position: relative;
  }

  .features__header {
    padding-bottom: 49px;
    padding-top: 49px;

    &::after {
      height: 50px;
    }
  }

  .features__subtitle {
    font-size: 40px;
    line-height: 1.2;
    max-width: none;

    & + & {
      margin-top: 0;
      max-width: 340px;
    }
  }

  .features__items {
    overflow: visible;
    padding-bottom: 42px;
    padding-top: 45px;
  }

  .features__list {
    margin-bottom: 0;
    padding-left: 310px;
    text-align: left;
  }

  .features__item {
    margin-bottom: 37px;
  }

  .features__device-preview {
    left: 20px;
    height: 481px;
    position: absolute;
    top: -74px;
    width: 268px;

    img {
      height: 481px;
      width: 268px;
    }
  }

  .features__research {
    background-color: #fff;
    padding: 96px 0;
    position: relative;
  }

  .features__research-content {
    padding-left: 310px;
    position: relative;

    &::before {
      background: url("../img/icon-timer.svg") no-repeat;
      background-size: contain;
      content: "";
      height: 276px;
      left: 0;
      position: absolute;
      top: -37px;
      width: 239px;
    }

    &::after {
      border: 13px solid $brand-color;
      border-radius: 50%;
      color: $brand-color;
      content: "24";
      font-size: 96px;
      font-weight: 700;
      left: 19px;
      line-height: 1;
      height: 202px;
      padding-top: 35px;
      position: absolute;
      text-align: center;
      top: 18px;
      width: 202px;
    }
  }

  .features__research-title {
    font-size: 30px;
    font-weight: 700;
    line-height: 1.2;
    margin: 0 0 10px;

    b {
      font-weight: inherit;
    }
  }

  .features__research-description {
    margin: 0 0 10px;
  }

  .features__research-more {
    color: $brand-color;
  }
}

@media #{$min-desktop-widths} {
  .features__header {
    padding-bottom: 81px;
    padding-top: 67px;

    &::after {
      height: 90px;
    }
  }

  .features__subtitle {
    font-size: 50px;

    & + & {
      max-width: 420px;
    }
  }

  .features__body {
    background-color: $secondary-bg-color;
    padding-top: 0;
  }

  .features__items {
    background-color: transparent;
    min-height: 473px;
  }

  .features__list {
    display: flex;
    min-height: 473px;
    padding-left: 0;
    text-align: center;
  }

  .features__item {
    flex: none;
    margin-bottom: 0;
    padding-top: 307px;
    position: relative;
    width: 300px;

    &::before {
      background-repeat: no-repeat;
      background-size: 292px auto;
      content: "";
      height: 302px;
      left: 4px;
      position: absolute;
      top: -52px;
      width: 292px;
    }

    &--mood::before {
      background-image: url("../img/iphone-screen-1-desktop@1x.png");
      left: 4px;

      @media #{$retina} {
        background-image: url("../img/iphone-screen-1-desktop@2x.png");
      }
    }

    &--change::before {
      background-image: url("../img/iphone-screen-2-desktop@1x.png");
      left: 7px;

      @media #{$retina} {
        background-image: url("../img/iphone-screen-2-desktop@2x.png");
      }
    }

    &--share::before {
      background-image: url("../img/iphone-screen-3-desktop@1x.png");
      left: 8px;

      @media #{$retina} {
        background-image: url("../img/iphone-screen-3-desktop@2x.png");
      }
    }
  }

  .features__item:not(:last-child) {
    margin-right: 20px;
  }

  .features__item-title {
    font-size: 30px;
    line-height: 1;
    margin-bottom: 24px;

    .features__item--share & {
      padding-left: 30px;
      padding-right: 30px;
    }
  }

  .features__item-description {
    font-size: 18px;
    line-height: 1.66666667;
    padding-left: 26px;
    padding-right: 26px;
  }

  .features__device-preview {
    display: none;
  }

  .features__research {
    background-color: transparent;
    padding: 118px 0 114px;
  }

  .features__research-content {
    padding-left: 366px;

    &::before {
      height: 345px;
      top: -95px;
      width: 298px;
    }

    &::after {
      border-width: 16px;
      font-size: 120px;
      left: 23px;
      height: 253px;
      padding-top: 45px;
      top: -26px;
      width: 253px;
    }
  }

  .features__research-title {
    line-height: 1;
    margin-bottom: 24px;

    br {
      display: none;
    }
  }

  .features__research-description {
    font-size: 18px;
    line-height: 1.66666667;
    margin-bottom: 30px;
  }

  .features__research-more {
    font-size: 18px;
    line-height: 1.66666667;
  }
}
