.features__header {
  font-size: 24px;
  font-weight: 300;
  line-height: 1.2;
}

.features__body {
  background-color: $secondary-bg-color;
}

.features__item-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
}

.features__item-title strong {
  font-weight: inherit;
}
