.features__container {
  @include container();
}

.features__header {
  font-size: 24px;
  font-weight: 300;
  line-height: 1.2;
  padding: 41px 0 31px;
  position: relative;

  &::after {
    background: url("../img/bg-triangle-white.svg") 0 100% no-repeat;
    background-size: cover;
    content: "";
    left: 0;
    position: absolute;
    height: 31px;
    top: 100%;
    width: 100%;
  }
}

.features__subtitle {
  font-size: 24px;
  font-weight: 300;
  line-height: 1.2;
  margin: 0 auto;
  max-width: 205px;
  text-align: center;

  & + & {
    margin-top: 31px;
  }
}

.features__body {
  background-color: $secondary-bg-color;
  padding-top: 31px;
}

.features__items {
  overflow: hidden;
  padding-top: 55px;
}

.features__item {
  margin-bottom: 34px;

  &:last-child {
    /* to fit text like in design */
    margin: 0 -1px 0;
  }
}

.features__list {
  list-style: none;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  text-align: center;
}

.features__item-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
  margin: 0 0 15px;
}

.features__item-title strong {
  font-weight: inherit;
}

.features__item-description {
  margin: 0;
}

.features__device-preview {
  height: 277px;
  margin: 0 auto;
  width: 157px;
}

@media #{$max-tablet-widths} {
  .features__research {
    @include visually-hidden();
  }
}

@media #{$min-tablet-widths} {
  .features__container {
    position: relative;
  }

  .features__header {
    min-height: 290px;
  }

  .features__items {
    min-height: 434px;
  }

  .features__list {
    min-height: 434px;
    padding-left: 310px;
  }

  .features__device-preview {
    left: 20px;
    bottom: 0;
    height: 484px;
    position: absolute;
    width: 268px;
  }

  .features__research {
    height: 1px;
    min-height: 393px;
    padding: 59px 0;
  }

  .features__research-content {
    padding-left: 310px;
  }

  .features__research-title {
    font-size: 30px;
    line-height: 1.2;

    b {
      font-weight: 700;
    }
  }

  .features__research-more {
    color: $brand-color;
  }
}

@media #{$min-desktop-widths} {
  .features__header {
    min-height: 417px;
  }

  .features__body {
    background-color: $secondary-bg-color;
    min-height: 945px;
  }

  .features__items {
    background-color: transparent;
    min-height: 473px;
  }

  .features__list {
    display: flex;
    min-height: 473px;
    padding-left: 0;
  }

  .features__item {
    flex: none;
    width: 300px;
  }

  .features__item:not(:last-child) {
    margin-right: 20px;
  }

  .features__device-preview {
    display: none;
  }

  .features__research {
    height: 1px;
    min-height: 471px;
    padding: 59px 0;
  }

  .features__research-content {
    padding-left: 370px;
  }

  .features__research-title {
    line-height: 1;
  }

  .features__research-description {
    font-size: 18px;
    line-height: 1.66666667;
  }

  .features__research-more {
    font-size: 18px;
    line-height: 1.66666667;
  }
}
