.intro {
  background: #1d2631 url("../img/bg-back-mobile@1x.jpg") center 0 no-repeat;
  margin-top: -66px;
  overflow: hidden;
  padding-top: 96px;

  &--index {
    padding-top: 174px;
  }

  &--form {
    padding-bottom: 55px;
  }

  &--photo {
    padding-bottom: 83px;
  }
}

.intro--index .intro__container::before {
  background: url("../img/iphone-hand-mobile@1x.png") no-repeat;
  background-size: 258px 286px;
  content: "";
  height: 286px;
  display: block;
  margin: 0 auto;
  width: 320px;
}

.intro__title {
  color: #fff;
  font-size: 24px;
  font-weight: 300;
  line-height: 1.2;
  margin: 0 auto;
  max-width: 280px;
  text-align: center;
}

@media #{$max-tablet-widths} {
  .intro {
    @media #{$retina} {
      background-image: url("../img/bg-back-mobile@2x.jpg");
      background-size: 700px auto;
    }
  }

  .intro--index .intro__container::before {
    @media #{$retina} {
      background-image: url("../img/iphone-hand-mobile@2x.png");
    }
  }

  .intro__downloading-slogan {
    @include visually-hidden();
  }
}

.intro__downloading {
  background-color: #1d2631;
}

.intro__downloading-wrapper {
  height: 100%;
  margin: 0 auto;
  padding: 28px 20px;
  width: 320px;
}

@media #{$min-tablet-widths} {
  .intro {
    background-image: url("../img/bg-back-tablet@1x.jpg");
    margin-top: -110px;
    padding-top: 178px;

    &--index {
      padding-top: 200px;
    }

    &--form {
      padding-bottom: 80px;
    }

    &--photo {
      padding-bottom: 140px;
    }

    @media #{$retina} {
      background-image: url("../img/bg-back-tablet@2x.jpg");
      background-size: 1200px auto;
    }
  }

  .intro__title {
    font-size: 50px;
    line-height: 1.2;
    max-width: 475px;
  }

  .intro__container {
    margin: 0 auto;
    padding: 0 20px;
    position: relative;
    width: 660px;

    .intro--index &::before {
      background-image: url("../img/iphone-hand-tablet@1x.png");
      background-size: 700px 545px;
      bottom: 0;
      height: 545px;
      position: absolute;
      right: -20px;
      width: 700px;

      @media #{$retina} {
        background-image: url("../img/iphone-hand-tablet@2x.png");
      }
    }
  }

  .intro__downloading-slogan {
    color: #fff;
    font-size: 40px;
    font-weight: 300;
    line-height: 1.2;
    margin: 0 auto 32px;
    max-width: 195px;
    text-align: center;

    b {
      font-weight: inherit;
    }
  }

  .intro__downloading {
    background-color: transparent;
    max-width: 300px;
    padding-bottom: 109px;
    position: relative;
  }

  .intro__downloading-wrapper {
    height: 100%;
    padding: 0;
    width: auto;
  }
}

@media #{$min-desktop-widths} {
  .intro {
    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-size: cover;
    padding-top: 173px;

    &--index {
      padding-top: 218px;
    }

    &--form {
      padding-bottom: 101px;
    }

    &--photo {
      padding-bottom: 101px;
    }

    @media #{$retina} {
      background-image: url("../img/bg-back-desktop@2x.jpg");
    }
  }

  .intro__container {
    padding-left: 10px;
    padding-right: 10px;
    width: 960px;

    .intro--index &::before {
      background-image: url("../img/iphone-hand-desktop@1x.png");
      background-size: 1050px 645px;
      height: 645px;
      right: -115px;
      width: 1050px;

      @media #{$retina} {
        background-image: url("../img/iphone-hand-desktop@2x.png");
      }
    }
  }

  .intro__title {
    max-width: none;

    .intro--photo & {
      max-width: 500px;
    }
  }

  .intro__downloading-slogan {
    font-size: 50px;
    margin-bottom: 52px;
    max-width: 237px;
  }

  .intro__downloading {
    padding-bottom: 122px;
  }
}
