.intro {
  background: #1d2631 url("../img/bg-back-mobile@1x.jpg");
  min-height: 237px;
  padding-top: 100px;

  outline: 1px solid green;
}

.intro__title {
  color: #fff;
  font-size: 24px;
  font-weight: 300;
  line-height: 1.2;
}
