.main-menu {
  background-color: rgba(0, 0, 0, 0.3);

  &--opened {
    background-color: #283645;
  }
}

.main-menu__header {
  align-items: center;
  border-bottom: 1px solid #000;
  display: flex;
  height: 71px;
  justify-content: space-between;

  padding: 22px 20px 25px;
}

.main-menu__logo {
  height: 22px;
  width: 75px;
}

.main-menu__toggle {
  background: url("../img/icon-menu-burger.svg") no-repeat;
  font-size: 0;
  height: 24px;
  width: 50px;

  .main-menu--opened & {
    background-image: url("../img/icon-menu-cross.svg");
    height: 24px;
    width: 24px;
  }
}

.main-menu__list {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.main-menu__item {
  border-bottom: 1px solid #000;
  border-top: 1px solid rgba(#fff, 0.15);
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.77777778;
  padding: 15px 20px;
  text-transform: uppercase;

  &:not(&--active):hover {
    color: $brand-color;
  }

  &:not(&--active):active {
    color: rgba($brand-color, 0.3);
  }

  &--active {
    cursor: default;
  }
}

.main-menu__link {
  color: inherit;
  text-decoration: none;

  .main-menu__item--active & {
    border-bottom: 2px solid currentColor;
  }
}

@media #{$min-tablet-widths} {
  .main-menu__header {
    height: 111px;
  }
}

@media #{$min-desktop-widths} {
  .main-menu {
    display: flex;
    min-height: 110px;
  }

  .main-menu__header {
    width: 150px;
    min-height: 110px;
  }

  .main-menu__list {
    margin-left: auto;
    min-height: 110px;
    width: 630px;
  }
}
