.main-menu {
  background-color: rgba(0, 0, 0, 0.3);

  &--opened {
    background-color: #283645;
  }
}

.main-menu__header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;

  .main-menu--closed & {
    padding-bottom: 21px;
    padding-top: 21px;
  }

  .main-menu--opened & {
    border-bottom: 1px solid #000;
    padding-bottom: 24px;
    padding-top: 22px;
  }
}

.main-menu__logo {
  height: 22px;
  width: 75px;
}

.main-menu__toggle {
  font-size: 0;

  .main-menu--opened & {
    height: 24px;
    width: 24px;

    &::before,
    &::after {
      background-color: #fff;
      content: "";
      height: 4px;
      left: -2px;
      position: absolute;
      top: 8px;
      width: 30px;
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }

    &:hover::before,
    &:hover::after {
      background-color: $brand-color;
    }

    &:active::before,
    &:active::after {
      background-color: rgba($brand-color, 0.3);
    }
  }

  .main-menu--closed & {
    height: 24px;
    width: 50px;

    &::before {
      background-color: #fff;
      box-shadow: 0 10px 0 0 #fff,
                  0 20px 0 0 #fff;
      content: "";
      height: 4px;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }

    &:hover::before {
      background-color: $brand-color;
      box-shadow: 0 10px 0 0 $brand-color,
                  0 20px 0 0 $brand-color;
    }

    &:active:before {
      background-color: rgba($brand-color, 0.3);
      box-shadow: 0 10px 0 0 rgba($brand-color, 0.3),
                  0 20px 0 0 rgba($brand-color, 0.3);
    }
  }

  .main-menu--no-js & {
    display: none;
  }
}

.main-menu__list {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.main-menu__item {
  border-bottom: 1px solid #000;
  border-top: 1px solid rgba(#fff, 0.15);
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.77777778;
  padding: 15px 20px;
  text-transform: uppercase;

  &:not(&--active):hover {
    color: $brand-color;
  }

  &:not(&--active):active {
    color: rgba($brand-color, 0.3);
  }

  &--active {
    cursor: default;
  }
}

.main-menu__link {
  color: inherit;
  text-decoration: none;

  .main-menu__item--active & {
    border-bottom: 2px solid currentColor;
  }
}

@media #{$min-tablet-widths} {
  .main-menu__header {
    align-items: flex-end;
    
    .main-menu--opened &,
    .main-menu--closed & {
      padding-bottom: 43px;
      padding-top: 27px;
    }
  }

  .main-menu__logo {
    height: 40px;
    width: 147px;
  }
}

@media #{$max-desktop-widths} {
  .main-menu--closed .main-menu__list {
    display: none;
  }

  .main-menu--no-js {
    background-color: #283645;

    .main-menu__header {
      border-bottom: 1px solid #000;
      justify-content: center;
    }

    .main-menu__list {
      display: block;
    }
  }
}

@media #{$min-desktop-widths} {
  .main-menu {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 28px 0 42px;
  }

  .main-menu__header {
    border: 0;
    flex: none;
    padding: 0;
    width: 147px;

    .main-menu--closed &,
    .main-menu--opened & {
      padding-bottom: 0;
      padding-top: 0;
    }
  }

  .main-menu__list {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    padding-top: 9px;
    width: 621px;
  }

  .main-menu__item {
    border: 0;
    font-weight: 400;
    line-height: 1;
    padding: 0;
    text-transform: none;

    &:not(&--active):active {
      color: rgba(#fff, 0.3);
    }

    &--active .main-menu__link {
      padding-bottom: 3px;
    }
  }

  .main-menu__toggle {
    display: none;
  }
}
