.page-footer {
  padding: 36px 0;
}

.page-footer__container {
  @include container();
}

.page-footer__developers {
  line-height: 1.28571429;
}

@media (max-width: 559px) {
  .page-footer--index {
    @include visually-hidden();
  }
}

@media #{$tablet-widths} {
  .page-footer__container {
    display: flex;
    justify-content: space-between;
  }
}
