.page-header {
  background-color: rgba(0, 0, 0, 0.3);
  min-height: 326px;
}

.page-header__container {
  @include container();
}

@media #{$desktop-widths} {
  .page-header {
    min-height: 110px;
  }
}
