.page-footer {
  padding: 36px 0 40px;
}

.page-footer__container {
  @include container();
}

.page-footer__socials {
  font-size: 0;
  padding-right: 14px;
  padding-top: 2px;
}

.page-footer__developers {
  font-size: 0;
  padding-top: 13px;
}

.page-footer__developers-label {
  display: inline-block;
  font-size: 14px;
  line-height: 1.28571429;
  margin-right: 15px;
  vertical-align: middle;
}

.page-footer__developers-link {
  display: inline-block;
  vertical-align: middle;
}

@media #{$max-tablet-widths} {
  .page-footer--index {
    @include visually-hidden();
  }
}

@media #{$min-tablet-widths} {
  .page-footer__container {
    display: flex;
    justify-content: space-between;
  }

  .page-footer__logo {
    height: 40px;
    width: 147px;
  }
}
