.photo-upload {
  padding-top: 27px;

  outline: 1px solid orangered;
}

.photo-upload__header {
  margin-bottom: 49px;
}

.photo-upload__subtitle {
  line-height: 2.14285714;
}

.photo-upload__form {
  background-color: $secondary-bg-color;
  padding-top: 20px;
}

.photo-upload__form-footer {
  padding-bottom: 41px;
  padding-top: 38px;
}

.photo-upload__submit {
  color: $brand-color;
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
}

.photo-upload__reset {
  color: rgba($main-dark-color, 0.1);
  font-size: 18px;
  font-weight: 700;
}
