.photo-upload {
  padding-top: 24px;
}

.photo-upload__container {
  @include container();
}

.photo-upload__header {
  margin-bottom: 41px;
}

.photo-upload__subtitle {
  line-height: 2.14285714;
  text-align: center;
  margin: 0 auto;
  max-width: 260px;
}

.photo-upload__form {
  background-color: $secondary-bg-color;
  padding-top: 20px;
}

.photo-upload__preview {
  margin-bottom: 41px;

  img {
    display: block;
    height: 100%;
    width: 100%;
  }
}

.photo-upload__edit-controls {
  align-items: center;
  display: flex;
  margin: 0 auto 34px;
  max-width: 212px;
}

.photo-upload__edit-btn {
  background-repeat: no-repeat;
  flex: none;
  font-size: 0;

  &--crop {
    background-image: url("../img/icon-editor-crop.svg");
    height: 44px;
    margin-right: 36px;
    width: 44px;
  }

  &--fill {
    background-image: url("../img/icon-editor-fill.svg");
    height: 43px;
    margin-right: 40px;
    width: 48px;
  }

  &--contrast {
    background-image: url("../img/icon-editor-contrast.svg");
    height: 32px;
    width: 32px;
  }
}

.photo-upload__edit-slider-handle {
  .photo-upload__edit-slider & {
    left: 79%;
  }
}

.photo-upload__form-buttons  {
  padding-bottom: 41px;
  padding-top: 38px;
}

.photo-upload__submit,
.photo-upload__reset {
  border-style: solid;
  border-width: 3px;
  border-radius: 30px;
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
  padding: 14px 31px 17px;
  width: 100%;
}

.photo-upload__submit {
  border-color: $brand-color;
  color: $brand-color;
  margin-bottom: 12px;

  &:hover {
    background-color: $brand-color;
    color: #fff;
  }

  &:active {
    color: rgba(#fff, 0.3);
  }
}

.photo-upload__reset {
  border-color: rgba($main-dark-color, 0.1);
  color: rgba($main-dark-color, 0.1);

  &:hover {
    border-color: rgba($main-dark-color, 0.3);
    color: rgba($main-dark-color, 0.3);
  }

  &:active {
    background-color: #b5b9be;
    border-color: #b5b9be;
    color: rgba(#fff, 0.3);
  }
}

@media #{$max-tablet-widths} {
  .photo-upload__edit-sliders {
    border-bottom: 1px solid rgba($main-dark-color, 0.1);
    margin: 0 -20px;
    padding-bottom: 28px;
  }

  .photo-upload__edit-slider--crop {
    margin: 0 auto;
    width: 244px;
  }

  .photo-upload__edit-slider--fill,
  .photo-upload__edit-slider--contrast {
    display: none;
  }
}

@media #{$min-tablet-widths} {
  .photo-upload {
    padding-top: 45px;
  }

  .photo-upload__header {
    margin-bottom: 69px;
  }

  .photo-upload__subtitle {
    font-size: 18px;
    line-height: 1.66666667;
    margin: 0 auto;
    max-width: 440px;
  }

  .photo-upload__form {
    padding-bottom: 53px;
    padding-top: 57px;

    .photo-upload__container {
      display: flex;
      justify-content: space-between;
    }
  }

  .photo-upload__preview {
    margin-bottom: 0;
    width: 300px;
  }

  .photo-upload__edit-wrapper {
    width: 300px;
  }

  .photo-upload__edit {
    display: flex;
    justify-content: space-between;
    margin-bottom: 87px;
    padding-left: 15px;
    padding-right: 18px;
  }

  .photo-upload__edit-controls {
    display: flex;
    flex-direction: column;
    margin: 0;
    max-width: none;
    padding-left: 3px;
  }

  .photo-upload__edit-btn {
    margin-right: 0;
    position: relative;
    transform: scale(0.5);

    &::after {
      background-color: rgba($main-dark-color, 0.1);
      bottom: -45px;
      content: "";
      display: block;
      height: 1px;
      left: -10px;
      position: absolute;
      width: 545px;
    }

    &--crop {
      margin-bottom: 28px;
    }

    &--fill {
      margin-bottom: 32px;

      &::after {
        bottom: -49px;
      }
    }

    &--contrast {

      &::after {
        bottom: -55px;
      }
    }
  }

  .photo-upload__edit-sliders {
    min-width: 200px;
    padding-top: 13px;
  }

  .photo-upload__edit-slider {

    &--crop {
      margin-bottom: 59px;

      .photo-upload__edit-slider-handle {
        left: 72%;
      }
    }

    &--fill {
      margin-bottom: 56px;

      .photo-upload__edit-slider-handle {
        left: 11%;
      }
    }

    &--contrast {
      .photo-upload__edit-slider-handle {
        left: 47%;
      }
    }
  }

  .photo-upload__form-buttons {
    margin: 0 auto;
    max-width: 272px;
    padding: 0;
    padding-left: 13px;
  }

  .photo-upload__submit {
    margin-bottom: 24px;
  }
}

@media #{$min-desktop-widths} {
  .photos__subtitle {
    max-width: 570px;
  }

  .photo-upload__form .photo-upload__container {
    justify-content: flex-start;
  }

  .photo-upload__preview {
    width: 50%;
  }

  .photo-upload__edit {
    width: 43.6%;
  }
}
