.testimonials {
  padding: 45px 0;
  outline: 1px solid green;
}

.testimonials__author-name {
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.66666667;
}

.testimonials__item-text {
  line-height: 2.14285714;
}
